/* global.css */

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
  color: #171717;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

/* Estilo global de links (opcional) */
a {
  color: inherit;
  text-decoration: none;
}

/* Header genérico */
.header {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px 40px;
  background-color: #1d8ed8; 
  color: white;
  margin-bottom: 40px; 
}


/* Logo genérico */
.logo {
  width: 60px;
  height: auto;
  border-radius: 5px; 
  object-fit: contain;
}

/* Conteúdo principal */
.main {
  text-align: center;
  padding: 40px 20px;
}

/* Títulos genéricos */
.title {
  font-size: 22px;
  margin-bottom: 25px;
}

/* Container de elementos tipo "cards" */
.heroes-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

/* Cards individuais */
.hero-box {
  width: 260px;
  border: 1px solid #ddd; 
  padding: 10px;
  border-radius: 8px;
  background-color: #fff; 
  box-shadow: 0 2px 4px rgba(0,0,0,0.05); 
}

.hero-box img {
  width: 100%;
  height: 260px;
  object-fit: contain;
  border-radius: 10px;
}

/* Footer genérico */
.footer {
  background: #e6f5fb; 
  padding: 10px;
  text-align: center;
  color: #005; 
  margin-top: 60px;
  font-size: 14px;
  border-top: 1px solid #cce5f2; 
}
  

